# Values for authenticated RPC and Explorer services. Keep actual values in ignored .env.
NODEREAL_ETH_MAINNET_API_KEY=
ALCHEMY_ETH_SEPOLIA_API_KEY=
ZAN_PHAROS_MAINNET_API_KEY=
ETHERSCAN_API_KEY_TESTNET=
ETHERSCAN_API_KEY_HASHKEY_CHAIN_TESTNET=
ETHERSCAN_API_KEY_BSC_TESTNET=
ETHERSCAN_API_KEY_BSC=
ETHERSCAN_API_KEY_AVALANCHE_FUJI_TESTNET=
ETHERSCAN_API_KEY_AVALANCHE=
ETHERSCAN_API_KEY_PHAROS_PRIVATE_MAINNET=
ETHERSCAN_API_KEY_PHAROS_ATLANTIC_TESTNET=
ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_ARC_MAINNET=
